/* Disaster.module.css */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .map_container {
    flex: 1;
    /* height: 500px; */
  }
  
  .form_container {
    flex: 1;
    max-width: 600px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    background-color: #f9f9f9; 
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .submit_button {
    display: flex;
    justify-content: center;
  }
  